@tailwind base;
@tailwind components;
@tailwind utilities;
/* Kaydırma çubuğunu tamamen gizle */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE ve Edge */
    scrollbar-width: none;  /* Firefox */
}